{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "es6": true,
    "jest/globals": true
  },
  "rules": {
    "no-plusplus": "off",
    "prettier/prettier": "error",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    // TODO: Enable prop type warnings and address them properly
    "react/prop-types": "off",
    "dot-notation": "off"
  },
  "plugins": ["prettier", "jest", "import"],
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".json"],
        "map": [
          ["@r2r/assets", "./src/assets"],
          ["@r2r/components", "./src/components"],
          ["@r2r/common", "./src/components/common"],
          ["@r2r/composites", "./src/components/composites"],
          ["@r2r/scenes", "./src/scenes"]
        ]
      }
    }
  },
  "ignorePatterns": ["storybook/**"]
}
